.Rproj.user
.Rhistory
.RData
.Ruserdata
.vigitel2006_2022_indicadores_2023.04.24 RClaro.dta
.vigitel2006_2022_indicadores_2023.04.24 RClaro.zip
.Dados Catarina Vigitel 05-03-2024.xlsx
.Dados Catarina 12-03-2024.xlsx
.Dados Catarina 20-03-2024.xlsx
.Dados Catarina 05-03-2024.xlsx
.Dados Catarina 12-03-2024.xlsx
vigitel2006_2022_indicadores_2023.04.24 RClaro.zip
qualidade-aps-nutricional.Rproj
qualidade-aps-nutricional
vigitel2006_2022_indicadores_2023.04.24 RClaro.dta
Dados Catarina 23-05-2024.xlsx
Dados Catarina Vigitel para análises 23-05-2024.xlsx
PMAQ
